@model HTTP5212_Passion_Project3.Models.CommentDto
@{
    ViewBag.Title = "Details";
}

<a href="/Comment/List">Go Back</a>
<h2>@Model.CommentText</h2>
<div>Commented on Artwork ID: @Model.ArtworkName</div>

