
@{
    ViewBag.Title = "Create";
}

<h2>Add Comment</h2>
<form action="/Comment/Create" method="POST">
    <div>
        <label>Comment:</label> <input type="text" name="FirstName" />
    </div>
    <div>
        <label>Artwork ID:</label> <input type="text" name="LastName" />
    </div>
    <div>
        <input type="submit" value="Add Comment" />
    </div>
</form>

