@model HTTP5212_Passion_Project3.Models.ArtistDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this artist?</h2>
<a href="/Artist/List">Cancel</a>
<h2>@Model.FirstName @Model.LastName</h2>
<h3>Artist ID: @Model.ArtistId</h3>

<form action="/Artist/Delete/@Model.ArtistId" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>

