@model HTTP5212_Passion_Project3.Models.ArtistDto
@{
    ViewBag.Title = "Details";
}

<a href="/Artist/List">Go Back to List</a>
<br />
@*<a style="color:#ab2020;" href="/Artist/DeleteConfirm/@Model.SelectedArtist.AtistID">Delete</a>*@

<h2>@Model.FirstName @Model.LastName</h2>
<h3>Artist ID: @Model.ArtistId</h3>


